*{
    padding: 0px;
    margin: 0px;
}
.nav{
    background-color: burlywood;
}
.menu1{
    color: azure;
    font-weight: bolder;
    font-size: 30px;
    font-family: cursive;
    padding-left: 209x;
}
.m1{
    padding-left: 80px;
}
.menu{
    color: brown;
    font-weight: bolder;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;  
}
.btm1{
    font-weight: bolder;
    padding-left: 150px;
}
.btm{
    background-color: blueviolet;
    color: azure;
    font-weight: bolder;
}
.b1{
    padding-bottom: 25px;
}
.b1 h2{
    text-align: center;
    color: navy;
}
.b2{
    width: 155vh;
}
.f1{
    
    background-color: rgb(240, 208, 166);
    color:brown;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}